<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>myapp</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	</head>
	<body>

	<h3>Two graph are the same, with independece of call with http://localhost:8000<h3>
	<br>
	The first graph<br>
	<img src="/charts/">
	<br>

	The second graph<br>
	<img src="http://localhost:8000/charts/">

	</body>
	</html>