
{% load static %}

<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'admin/assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'admin/assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
   <!-- <link rel="stylesheet" href="{% static 'plot/assets/vendor/charts/chartist-bundle/chartist.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'plot/assets/vendor/charts/morris-bundle/morris.css' %}">-->
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'plot/assets/vendor/charts/c3charts/c3.css' %}">-->
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.css"/>
    <title><Main></Main></title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/admin/login/">Funds Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                               <form type="get" action="." style="margin: 0">
                            
                            <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
                            <button id="search_submit" type="submit" >Submit</button>
                           
                            </form>
                            </div>
                        </li>
                         
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="/signup" class="connection-item"><img src="{% static 'admin/assets/images/github.png' %}" alt="" > <span>Sign-Up</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="/admin/auth/user/" class="connection-item"><img src="{% static 'admin/assets/images/dribbble.png' %}" alt="" > <span>Auth</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="/admin/password_change" class="connection-item"><img src="{% static 'admin/assets/images/dropbox.png' %}" alt="" > <span>Change password</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="/admin" class="connection-item"><img src="{% static 'admin/assets/images/bitbucket.png' %}" alt=""> <span>Home</span></a>
                                        </div>
                                        
                                    </div>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'admin/assets/images/avatar-1.jpg' %}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{user.username}} </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                
                                <a class="dropdown-item" href="/admin/logout/"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                      
                        
                    </ul>
                </div>
                
            </nav>
        </div>    
        <div>

        </div>
        <div class="card">
      
        </div>


        <div class="card">

                        
                               {% block content %}
                                {% endblock content %}
                                </div>
                                
        <!-- ============================================================== -->
        <!-- end navbar -->
                
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
 
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'admin/assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'admin/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'admin/assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'admin/assets/libs/js/main-js.js' %}"></script>
    <!-- chart chartist js -->
    
    <script src="{% static 'admin/assets/libs/js/dashboard-ecommerce.js' %}"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.4.0.min.js"></script> 
    {{script|safe}}
</body>
 
</html>