
{%load static%}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Feedback</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'feedback/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'feedback/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
<div class="alert alert-success alert-dismissible fade" role="alert" id="buttonAlert">
      <strong>Success!</strong> Amount Submited Rs{{sum}}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="GET">
					
				<span class="contact100-form-title">
					Submit : {{sum}}
				</span>

				

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Amount</span>
					<div>
						
							
							Rs : {{sum}}
							
						
					</div>
					<span class="focus-input100"></span>
				</div>
			
			
			

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn"  id="modalButton">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
							
						</button>

					</div>
					
				</div>
				<a href="/admin/" class="button"><span>Back<i class="fa fa-long-arrow-left m-l-7" aria-hidden="true"></i></span></a>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'feedback/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'feedback/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'feedback/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'feedback/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'feedback/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<script>
$("#modalButton").click(function(){
      $("#buttonAlert").addClass('show') //Shows Bootstrap alert
})
</script>
<!--===============================================================================================-->
	<script src="{% static 'feedback/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'feedback/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'feedback/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'feedback/js/main.js' %}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>

{% block content %}
  
 <span><a class='button' href='/admin/'><h3><i><b><font face="Verdana" color='#70a1ff'><p align="right">⮜ Back</p></font></b></i></h3></a></span>
{% endblock %}